.content{
    position: relative;
    margin-top: 50px;
    left: 15%;
    width: 70vw;
}

.banner-mensagem{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-mensagem figure{
    background-color: lightgray;
    width: fit-content;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 6px;
    margin: 0;
}

.banner-mensagem img{
    width: 500px;
}

